
:root {
    --titulos:#181839;
    --subtitulos:#0a1e65;
    --bordes: #2f71ec;
    --buttonBackground: #253fbe;
    --colorSupport: #39b4fe;
    --fondo: #abf0f9;
    --fondo2: #b3abf9;   
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lexend Deca', sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: var(--colorSupport);
}

header h1 {
    padding: 10px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--titulos);
}

main {
    width: 100%;
    height: auto;
}

main .main__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 28px;
    text-align: center;
}

main .main__promedio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    min-width: 280px;
    height: auto;
    padding: 10px;
    box-shadow: 0px 1px 10px 1px var(--bordes) ;
    border-radius: 10px;
} 

.main__title {
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--subtitulos);
}

.promedio__label {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--subtitulos);
    font-weight: 600;
}

form .promedio__container-input {
    width: 80%;
    height: 30px;
    display: flex;
    margin-bottom: 12px;
    border: 1px solid var(--bordes);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
::placeholder {
    font-family: 'Lexend Deca', sans-serif;
    color: #5a5a5a;
}

.promedio__container-input input {
    width: 80%;
    height: 23px;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
}

.promedio__container-button {
    width: auto;
    height: 35px;
    padding: 0.8em 1.6em;
    margin-bottom: 15px;
    border-radius: 0.2666666667em;
    box-shadow: 0 3px 0 0 #1139cc, 0 4px 4px -1px rgb(0 0 0 / 60%), 0 4px 6px 1px rgb(0 0 0 / 30%), 0 1px 2px 1px rgb(0 0 0 / 0%) inset, 0 18px 32px -2px rgb(255 255 255 / 10%) inset;
    background-image: linear-gradient(-45deg, var(--colorSupport), var(--buttonBackground));
}

.promedio__container-button .form__button-promedio {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.7rem;
    color: #E6EAEF;
}

#ResAdd {
    padding-bottom: 15px;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--subtitulos);
    font-weight: 600;
}

#ResultadoPromedio {
    padding-bottom: 15px;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--subtitulos);
    font-weight: 600;
}
