
:root {
    /* colores */
    --tiulos:#2a0950;
    --bordes: #57198a;
    --subtitulos: #322338;
    --inputs: #E7F5FF;
    --inputsbackgr: #ba6fd1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: var(--subtitulos);
    margin-bottom: 15px;
    cursor: -webkit-grabbing;
}

p:hover {
    color: var(--bordes);
}

html {
    font-size: 62.5%;
    font-family: 'Lexend Deca', sans-serif;
}


header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
}

header img{
    width: 200px;
    height: 100px;
    align-self: center;
}

header h1 {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--tiulos);
}

main {
    width: 100%;
    height: auto;
}

.main__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main__cuadrado {
    position: relative;
    width: 280px;
    min-width: 280px;
    height: auto;
    display: flex;
    padding: 10px;
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid var(--bordes); */
    box-shadow: 0px 1px 10px 1px #57198ad8 ;
    border-radius: 10px;
}
.product-detail--cuadrado-logo {
    position: absolute;
    width: 82px;
    height: 73px;
    top: -35px;
    left: calc(50% - 40px);
    background-image: url(./assets/imgs/cuadrado.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo--triangulo {
    background-image: url(./assets/imgs/triang.gif);
    width: 70px;
    height: 82px;
    top: -45px;
    left: calc(50% - 35px);
}

.logo--circulo {
    background-image: url(./assets/imgs/circulo.png);
}

.main__cuadrado h2 {
    margin-bottom: 20px;
    padding-top: 28px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--tiulos);
}

.main__cuadrado  label {
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--subtitulos);
    font-weight: 600;
}

.main__cuadrado input {
    width: 210px;
    height: 25px;
    outline: none;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    border: 2px solid var(--bordes);
    text-align: center;
}
::placeholder {
    color: #706f6f;
}

.main__cuadrado .main__cuadrado-perimetro {
    width: 110px;
    height: 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: var(--inputsbackgr);
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.7rem;
    color: var(--tiulos);
}

footer {
    height: 45px;
    display: flex;
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
footer a {
    text-decoration: none;
    color: var(--tiulos);
}